body {
  font-family: Lato, 'Helvetica Neue', Helvetica,Arial, sans-serif;
  overflow-x: hidden;
}

/*********** NAVBAR MENU ************/
.navbar-custom {
  background: #2C3E50;
  font-weight: 700;
  border: none;
}

.navbar-custom, header .intro-text .name {
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar-custom .navbar-toggle {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-color: #fff;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav li a, header {
    color: #fff;
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #18BC9C;
}

/*** END OF NAVBAR MENU ***/


/************* HEADER **************/

header {
  text-align: center;
  background: #18BC9C;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  font-weight: 700;
  font-size: 2em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.intro-text {
  margin-bottom: 20px;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  background-color: #18BC9C;
  color: #fff;
}

hr.star-light, hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}


hr.star-light:after, hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.8em;
  font-size: 2em;
  padding: 0 .25em;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

/*** END OF HEADER ***/

/************** PORTFOLIO SECTION *************/

section {
  padding: 100px 0;
}

#portfolio * {
  z-index: 2;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

hr.star-primary {
  border-color: #2C3E50;
}

hr.star-primary:after {
  background-color: #fff;
  color: #2C3E50;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

a, a.active, a:active, a:focus, a:hover {
  color: #18BC9C;
  outline: 0;
}

/*** END OF PORTFOLIO ***/

/************** ABOUT SECTION *************/

section.description {
  background: #18BC9C;
  color: #fff;
}

p {
  font-size: 20px;
}

.btn-outline {
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
  margin-top: 15px;
}

/*** END OF ABOUT ***/

/************** CONTACT SECTION *************/
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
}

.btn-success {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
