---
layout: page
title: Bruno G. Tavares
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about-pic">
        <img src="/assets/img/cover-pic.png" class="cover img-responsive">
      </div>
    </div>
    <div class="col-md-6 hello">
      <p class="lead">
        <span class="redish">hello </span>there!
      </p>
      <p class="about">
       I am a software engineer dedicated to designing and creating smart applications.
       When I'm not programming, you might find me playing music or cooking.
     </p>
      <p class="lead">
        i'm also <span class="redish">here:</span>
      </p>
      <div class="also-here">
        <!-- Github -->
        <a onclick="javascript:window.open('https://github.com/bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-github-alt"></i></a>
        <!-- Codepen -->
        <a onclick="javascript:window.open('http://codepen.io/bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-codepen"></i></a>
        <!-- Glitch -->
        <!--a onclick="javascript:window.open('https://glitch.com/@bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-glitch"></i></a-->
        <!-- LinkedIn -->
        <a onclick="javascript:window.open('https://www.linkedin.com/in/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <p class="lead">featured <span class="redish">projects</span></p>
      <ul>
        {% assign sorted_projects = site.projects | sort: id | reverse %}
        {% for project in sorted_projects %}
          {% if project.featured %}
            <li>
              <h3><a href="#" data-toggle="modal" data-target="#myModal-{{ project.mod }}">{{ project.title }}</a></h3>
              <p class="box-tag">
                {{ project.tags | array_to_sentence_string }}
              </p>
              <p>{{ project.excerpt }}</p>
            </li>
            {% include modal.html %}

            {% endif %}
          {% endfor %}
        <li>
          <p class="more-projects"><a href="/projects.html" >more projects...</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>
