<div class="container find-me">
  <div class="row">
    <p>Find me here</p>
    <!-- Facebook -->
    <a onclick="javascript:window.open('https://github.com/bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-github"></i></a>
    <!-- Gihub -->
    <a onclick="javascript:window.open('https://vimeo.com/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-vimeo"></i></a>
    <!-- LinkedIn -->
    <a onclick="javascript:window.open('https://www.linkedin.com/in/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
  </div>
