<!-- Share Project -->
<div class="container share-me">
  <div class="row">
    <div class="col-sm-12">
      <p>Share this project</p>

      <!-- Twitter -->
      <a onclick="javascript:window.open('https://twitter.com/intent/tweet?text={{ project.title }} by Bruno G. Tavares - &url={{ site.url }}{{ project.url }}', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>

      <!-- Facebook -->
      <a onclick="javascript:window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ project.url }}', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>

      <!-- Google Plus -->
      <a onclick="javascript:window.open('https://plus.google.com/share?url={{ site.url }}{{ project.url }}', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>

      <!-- LinkedIn -->
      <a onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ project.url }}&title={{ project.title }}&source={{ site.url }}', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>

    </div>
  </div>
</div>
