<!-- Project Sidebar Widgets Column -->
<div class="col-md-4 col-sm-12 col-xs-12">

    <!-- Side Widget Well -->
    <div class="sidebar-style">
      <div class="row">
        <div class="col-md-12 col-sm-2 col-xs-12">
          <img src="{{site.baseurl}}/assets/img/IMG_7794.JPEG" class="thumb-blog img-circle img-responsive" />
        </div>
        <div class="col-md-12 col-sm-5 col-xs-12 info-content">
          <h4>Bruno G. Tavares</h4>
          <p>Programmer - Musician - Artist</p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> Brooklyn, NY</p>
        </div>
        <div class="col-md-12 col-sm-5 col-xs-12 social">
            <p>Find me here</p>
            <!-- Facebook -->
            <a onclick="javascript:window.open('https://github.com/bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-github"></i></a>
            <!-- LinkedIn -->
            <a onclick="javascript:window.open('https://www.linkedin.com/in/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

</div>
