<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Bruno G. Tavares">
  <meta name="description" content="Bruno's personal projects' page">
  <meta name="keywords" content="web development, data science, ruby, python, javaScript, reactjs, r, data analysis, statistics">

  <title>Bruno G. Tavares</title>

  <link rel="icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  <link href="{{ "/vendor/css/bootstrap.min.css" | prepend: site.baseurl }}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i|Muli:400,400i" rel="stylesheet" type='text/css'>
  {% css main %}

</head>
